<h3>All Teams:</h3>

<div class=''>
  <ul>
    <% @teams.each() do |team| %>
      <li><a href='/teams/<%= team.id() %>'><%= team.name() %></a></li>
    <% end %>
  </ul>
</div>

<p>Add a new team:</p>

<form action='/' method='post'>
  <label for='name'>Team Name</label>
  <input id='name' name='name' type='text'>

  <button type='submit'>Add</button>
</form>
