<!DOCTYPE html>
<html>
  <head>
    <title>Startup Weekend</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>
  <nav>
      <a href='/'>Home</a>
  </nav>
  <body>
    <section class='main'>
      <header>
        <h1>Startup Weekend Tracker</h1>
      </header>
    <section class='content'>
      <%= yield %>
    </section>
  </section>
  </body>
</html>
