<h1><%= @team.name() %></h1>

<h3>All members:</h3>

<div class='container'>
  <ul>
    <% @team.members().each() do |member| %>
      <li><%= member.name() %></li>
    <% end %>
  </ul>
</div>

<a href='/teams/<%= @team.id %>/members/new'>Add a member</a>
